<html>
    <head>
        {header_tpl}
        <title>PyCMP :(</title>
    </head>
    <body class="error">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <a href="/" class="pure-menu-heading">undefined</a>

            <ul>
                <li class="pure-menu-selected"><a href="/">#$%@!#@$!ERROR!403++</a></li>
                <li class="pure-menu-selected"><a href="/">Log$^%@%</a></li>
            </ul>
        </div>
        <div class="error-text labels">
            <h1>OOPS!</h1>
            <h3>Our python has eaten its tail. Because we<i style="font-size: 75%;">(or maybe you)</i> have did something, that our site didn't like.</h3>
            <h3>{error_msg}</h3>
            <a class="pure-button button-nice waves-effect" href="/">Go to main site page</a>&nbsp;&nbsp;<a class="pure-button button-nice waves-effect" href="javascript:history.back();">Go back</a>
        </div>
    </body>
</html>